BasedOnStyle: LLVM 

AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None  
AlignConsecutiveMacros: Consecutive
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ColumnLimit: 140
IndentWidth: 4